@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu-button {
        display: none;
    }

    .navigation {
        display: flex;
        gap: 2rem;
    }

    .navigation li {
        margin: 0;
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
    .home-grid {
    grid-template-columns: repeat(2, 1fr);
}

#spotlights-container {
    grid-template-columns: repeat(3, 1fr);
}

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
}

/* JOIN PAGE LARGE */

@media screen and (min-width: 768px) {

    .join-layout {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

}

/* =====================
   DISCOVER PAGE MEDIUM
===================== */

@media screen and (min-width: 768px) {

    #discover-grid {

        grid-template-columns: repeat(2, 1fr);

        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

    .discover-card img {
        transition: transform .3s ease,
                    box-shadow .3s ease;
    }

    .discover-card img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0,0,0,.3);
    }
}

/* =====================
   DISCOVER PAGE LARGE
===================== */

@media screen and (min-width: 1025px) {

    #discover-grid {

        grid-template-columns: repeat(4, 1fr);

        grid-template-areas:
            "card1 card1 card2 card3"
            "card4 card5 card5 card6"
            "card7 card8 card8 card6";
    }
}